{% extends "myapp/base.html" %}
{% block body %}
    <div class="m-4 grid gap-2 sm:grid-cols-12">
        <form id="edit_form" class="sm:col-span-10 p-3 border border-gray-300 bg-gray-100 rounded flex flex-col sm:flex-row flex-wrap gap-2" method="post">
            {% csrf_token %}
            <div class="w-full sm:w-auto flex-auto">
                <label for="expense" class="block text-sm font-medium text-gray-700">Expense Name</label>
                {{ expanse_form.name }}
            </div>
            <div class="w-full sm:w-auto flex-auto">
                <label for="amount" class="block text-sm font-medium text-gray-700">Expense Amount</label>
                {{ expanse_form.amount }}
            </div>
            <div class="w-full sm:w-auto flex-auto">
                <label for="category" class="block text-sm font-medium text-gray-700">Expense Category</label>
                {{ expanse_form.category }}
            </div>
        </form>
        <div class="sm:col-span-2 rounded flex items-center justify-center">
            <button type="submit" form="edit_form" class="bg-green-500 text-white py-2 px-4 rounded">Edit</button>
        </div>
      </div>
{% endblock body %}