{% extends "myapp/base.html" %}
{% load static %}
{% load humanize %}
{% block body %}
    {% comment %} Add Expenses {% endcomment %}
    <div class="m-4 grid gap-2 sm:grid-cols-12">
        <form id="myForm" class="sm:col-span-10 p-3 border border-gray-300 bg-gray-100 rounded flex flex-col sm:flex-row flex-wrap gap-2" method="post">
            {% csrf_token %}
            <div class="w-full sm:w-auto flex-auto">
                <label for="expense" class="block text-sm font-medium text-gray-700">Expense Name</label>
                {{ expanseform.name }}
            </div>
            <div class="w-full sm:w-auto flex-auto">
                <label for="amount" class="block text-sm font-medium text-gray-700">Amount</label>
                {{ expanseform.amount }}
            </div>
            <div class="w-full sm:w-auto flex-auto">
                <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
                {{ expanseform.category }}
            </div>
        </form>
        <div class="sm:col-span-2 rounded flex items-center justify-center">
            <button type="submit" form="myForm" class="bg-green-500 text-white py-2 px-4 rounded">Add</button>
        </div>
      </div>

    {% comment %} Expenses {% endcomment %}
    <!-- For larger screens -->
    <div class="m-4 p-5 bg-gray-100">
        <h1 class="text-xl mb-2">Your expenses</h1>
      
        <div class="overflow-auto rounded-lg shadow hidden md:block">
          <table class="w-full">
            <thead class="bg-gray-50 border-b-2 border-gray-200">
              <tr>
                <th class="p-3 text-sm font-semibold tracking-wide text-left">Expense Description</th>
                <th class="w-12 p-3 text-sm font-semibold tracking-wide text-left">Amount</th>
                <th class="w-12 p-3 text-sm font-semibold tracking-wide text-left">Category</th>
                <th class="w-12 p-3 text-sm font-semibold tracking-wide text-left">Date</th>
                <th class="w-12 p-3 text-sm font-semibold tracking-wide text-left">Edit</th>
                <th class="w-12 p-3 text-sm font-semibold tracking-wide text-left">Delete</th>
              </tr>
            </thead>
            
            <tbody class="divide-y divide-gray-100">
            {% for expanse in expanses %}
              <tr class="{% if forloop.counter|divisibleby:2 %} bg-gray-100 {% else %} bg-white {% endif %}">
                <td class="whitespace-nowrap p-3 text-sm text-gray-700">{{ expanse.name }}</td>
                <td class="whitespace-nowrap p-3 text-sm text-gray-700">${{ expanse.amount|intcomma }}</td>
                <td class="whitespace-nowrap p-3 text-sm text-gray-700">{{ expanse.category }}</td>
                <td class="whitespace-nowrap p-3 text-sm text-gray-700">{{ expanse.date }}</td>
                <td class="whitespace-nowrap p-3 text-sm text-gray-700">
                    <a href="{% url "edit" expanse.id %}">
                        <button class="bg-blue-500 text-white py-1 px-2 rounded">Edit</button>
                    </a>
                </td>
                <td class="whitespace-nowrap p-3 text-sm text-gray-700">
                    <form action="{% url "delete" expanse.id %}" method="post">
                        {% csrf_token %}
                        <button class="bg-red-500 text-white py-1 px-2 rounded" type="submit" name="delete">Delete</button>
                    </form>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
  
    <!-- For smaller screens -->
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 md:hidden">
        {% for expanse in expanses %}
        <div class="bg-white p-4 rounded-lg shadow space-y-3">
            <div class="flex items-center space-x-2 text-sm">
                <div class="text-sm text-gray-700">{{ expanse.name }}</div>
                <div class="text-sm font-medium text-black">${{ expanse.amount|intcomma }}</div>
            </div>
            <div class="text-gray-500">{{ expanse.date }}</div>
            <div class="text-sm text-gray-700">{{ expanse.category }}</div>
            <div class="flex items-center space-x-2 text-sm">
                <a href="{% url 'edit' expanse.id %}">
                    <button class="bg-blue-500 text-white py-1 px-2 rounded">Edit</button>
                </a>
                <form action="{% url 'delete' expanse.id %}" method="post">
                    {% csrf_token %}
                    <button class="bg-red-500 text-white py-1 px-2 rounded" type="submit" name="delete">Delete</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>

    <!-- Total Expense-->
    <div class="bg-white p-4 rounded-lg shadow space-y-3 mt-2">
        <div class="flex justify-between text-lg font-semibold">
            <div>Total</div>
            <div class="text-green-500">${{ total_expanses.amount__sum|intcomma }}</div>
        </div>
    </div>

    {% comment %} Weekly, Monthly and Yearly Expenses {% endcomment %}
    <div class="m-4 grid gap-2 sm:grid-cols-3">
        <div class="bg-red-500 flex flex-col items-center justify-center">
            <div class="text-lg font-semibold">Last 365 days</div>
            <div class="text-lg font-semibold">${{ yearly_sum.amount__sum|intcomma }}</div>
        </div>
        <div class="bg-green-500 flex flex-col items-center justify-center">
            <div class="text-lg font-semibold">Last 30 days</div>
            <div class="text-lg font-semibold">${{ monthly_sum.amount__sum|intcomma }}</div>
        </div>
        <div class="bg-blue-500 flex flex-col items-center justify-center">
            <div class="text-lg font-semibold">Last 7 days</div>
            <div class="text-lg font-semibold">${{ weekly_sum.amount__sum|intcomma }}</div>
        </div>
    </div>

    {% comment %} More detailed analysis of expanses {% endcomment %}
    <div class="m-4 mt-6 grid sm:grid-cols-2 gap-4 h-fit">
        <div class="shadow flex flex-col h-full">
            <div class="text-lg font-bold shadow text-center bg-red-500 h-12 flex items-center justify-center">Past 30 days sum expenses</div>
            <div id="30-day-table" class="grid sm:grid-cols-2">
                {% for daily_sum in daily_sums %}
                    <div class="flex items-center justify-center h-10 border-r">{{ daily_sum.date }}</div>
                    <div class="flex items-center justify-center h-10 border-l">${{ daily_sum.sum }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="shadow flex flex-col h-full">
            <div class="text-lg font-bold shadow text-center bg-red-500 h-12 flex items-center justify-center">Categorical expenses</div>
            <div id="cat-sum-table" class="grid sm:grid-cols-2">
                {% for categorical_sum in categorical_sums %}
                    <div class="flex items-center justify-center h-10 border-r">{{ categorical_sum.category }}</div>
                    <div class="flex items-center justify-center h-10 border-l">${{ categorical_sum.sum }}</div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% comment %} Expense Charts using chart.js {% endcomment %}
    <div class="m-4 grid sm:grid-cols-2 gap-4 h-fit">
        <div class="flex flex-col items-center justify-center shadow">
            <div class="border-b w-full flex items-center justify-center h-12">Expense Spread Across Categories</div>
            <div class="w-full flex items-center justify-center">
                <canvas class="w-full flex items-center justify-center" id="myChart"></canvas>
            </div>
        </div>
        <div class="flex flex-col items-center justify-center shadow">
            <div class="border-b w-full flex items-center justify-center h-12">Daily Expense Sum</div>
            <div class="w-full flex items-center justify-center">
                <canvas class="w-full flex items-center justify-center" id="myChart1"></canvas>
            </div>
        </div>
    </div>

    {% comment %} Javascript {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
    <script>
        const cats = []
        const cat_sums = []

        const catSumDiv = document.getElementById('cat-sum-table').getElementsByTagName('div')
        for (let i = 0; i < catSumDiv.length; i++) {
            if(i & 1){
                cat_sums.push(catSumDiv[i].innerText.replace('$', ''))
            }
            else{
                cats.push(catSumDiv[i].innerText)
            }
        }

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: cats,
                datasets: [{
                    label: 'Expense Spread Across Categories',
                    data: cat_sums,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        const dates = []
        const sums = []

        const dailySumDiv = document.getElementById('30-day-table').getElementsByTagName('div')
        for (let i = 0; i < dailySumDiv.length; i++) {
            if(i & 1){
                sums.push(dailySumDiv[i].innerText.replace('$', ''))
            }
            else{
                dates.push(dailySumDiv[i].innerText)
            }
        }

        var ctx1 = document.getElementById('myChart1').getContext('2d');
        var myChart1 = new Chart(ctx1, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Sum of Daily Expenses',
                    data: sums,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock body %}